{% extends 'base.html' %}
{% block one %}
<style>
  body{
    margin:auto;
    {% comment %} background-color:#132D46; {% endcomment %}
    background-color:grey;
    color:black;
  }
  .container{
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;
    padding: 35px;
    width:40%;
    background: rgba(225, 225, 225, 0.5);
    box-shadow: rgb(0, 0, 0,0.5);
    border-radius: 15px;
  }
  a{
    color:white;
    text-decoration:none;
  }
  .msg{
    margin-top:5px;
  }
  .b{
    color:white;
    text-decoration:none;
    position:absolute;
    top:20px;
    left:20px;
  }
  @media screen and (max-width: 425px) {
    .container{
      width:90% !important;
      margin:auto;
      margin-top:20px;
    }
  }
</style>
{% if user.is_authenticated %}

{% comment %} LOGIN VIEW------------------------------------------------------------------------------------------------------------ {% endcomment %}
{% else %}
<a  class="b" href="{% url 'index' %}" ><button type="button" class="btn btn-light"><i style="font-size:24px" class="fa">&#xf0a8;</i></button></a>

<form  method='POST'  class="text-center">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" name='username'style="width:50%;margin-left:25%;" >
    </div>
    
    <div class="mb-3">
      <label for="pass" class="form-label">Password</label>
      <input type="password" class="form-control" name='pass' style="width:50%;margin-left:25%;">
    </div>
    <button type="submit" class="btn btn-success btn-lg">Login</button>
</form>
<br>
<a  href="{% url 'makehuman' %}" ><h6>signup</h6></a>


{% endif %}
{% endblock one %}